*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(23, 25, 27);
}
.main{
    background-color: rgb(12, 54, 68);
    width: 30%;
    margin: 80px auto;
    padding: 30px;
}
.textview{
    margin-bottom: 20px;
    padding: 10px;
}
.textview p{
    border: none;
    outline: none;
}
.textview{
    width: 100%;
    background-color: linen;
    height: 50px;
    padding:5px 10px;
    border-radius: 3px;
}
.btns1,.btns2,.btns3,.btns4,.btns5{
   width: 25%;
   padding: 5px;
   display: flex;

}
.button{
   width: 70px;
   padding: 10px;
   margin:5px 8px ;
   border-radius: 5px;
   font-size: 15px;
   font-weight: bolder;
}
#op{
    background-color: rgb(35, 112, 108);
    font-size: 18px;
}
